@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Raleway:wght@100;200;400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	--accent-color: #caebdd;
}

h1, h2, h3, h6, input, label {
	font-family: 'Raleway', sans-serif;
}

p, textarea {
	font-family: 'Lora', serif;
}

h1 {
	margin: 0;
	color: white;
	font-size: 90px;
	text-transform: uppercase;
}

h2 {
	color: #1a1a1a;
	font-weight: 700;
	font-size: 50px;
}

h3 {
	color: #1a1a1a;
	font-weight: 200;
	font-size: 30px;
}

h6 {
	color: #a0a0a0;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

::selection {
	background-color: var(--accent-color);
}

h1::selection {
	color: #1a1a1a;
}

a:link {
	text-decoration: none;
}

button {
	border: none;
	background-color: unset;
	cursor: pointer;
}

.section {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/***** MENU *****/
#menu {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: flex-end;
	width: 96vw;
	padding: 2vh 2vw 0vh 2vw;
	background-color: #1a1a1a;
	z-index: 2;
}

.menu-text {
	margin: 0vh 2vw;
	padding: 3vh 0vw;
	color: #a0a0a0;
	transition: color 0.2s ease;
}

.menu-text:hover {
	color: white;
}

.menu-text:after {
	display: block;
	content: '';
	width: 0;
	border-bottom: 2px solid var(--accent-color);
	transition: width 0.2s ease;
}

.menu-text:hover:after {
	width: 100%;
}

#menu-sensor {
	position: fixed;
	width: 100vw;
	height: calc(7vh + 24px);
}

/***** MAIN/TITLE SECTION *****/
#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1a1a1a;
	text-align: center;
}

#icons {
	display: flex;
	margin-top: 5vh;
}

.icon {
	width: 50px;
	padding: 2vh 1vw;
	margin: 10px;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.icon:hover {
	transform: scale(1.1);
	background-color: var(--accent-color);
}

i {
	color: #1a1a1a;
	font-size: 40px;
}

i[id^=chevron] {
	position: relative;
	color: var(--accent-color);
	transition: 0.3s all ease-in;
}

#chevron-3 {
	transform: translateY(18px) scale(0.5);
	opacity: 0;
}

#chevron-2 {
	opacity: 0.5;
}

#chevron-1 {
	transform: translateY(-18px);
}

#scroll-down:hover #chevron-3 {
	transform: translateY(48px) scale(1);
	opacity: 0.5;
}

#scroll-down:hover #chevron-2 {
	transform: translateY(30px);
	opacity: 0;
}

#scroll-down:hover #chevron-1 {
	transform: translateY(-8px);
}

#scroll-down {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 3vh;
}

#scroll-down div {
	display: flex;
	flex-direction: column;
}

/*#about-section {
	background-color: red;
}

#projects-section {
	background-color: green;
}


/***** CV SECTION *****/
#cv {
	height: unset;
	padding-bottom: 15vh;
}

#cv-download-btn {
	left: 0;
	display: flex;
	align-items: center;
	width: unset;
	margin-bottom: 5vh;
	border-radius: 10px;
}

#cv-download-btn h3 {
	font-size: 20px;
	padding-right: 2vw;
}

#cv-download-btn i {
	padding: 0 2vw;
}

#categories {
	right: 0;
	display: grid;
	grid-column-gap: 5vw;
	grid-row-gap: 5vh;
	grid-template-columns: auto auto;
}

#years {
	width: 100%;
}

.year-container {
	width: 100%;
	display: flex;
}

.year {
	float: left;
	padding: 5px;
	width: 20%;
	margin-right: 30px;
	border-right: solid 5px #1a1a1a;
	background-color: #e5e5e5;
	text-align: center;
	transition: padding 0.3s ease;
}

.year-container:first-child .year {
	border-top-left-radius: 10px;
}

.year-container:last-child .year {
	border-bottom-left-radius: 10px;
}

.content {
	float: right;
	width: calc(80% - 15px);
	height: 40px;
}

.content p {
	padding: 0px 20px;
}

.content .event-title::before { /* add circles on the timeline */
	content: '';
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	right: 67.5px;
	background-color: white;
	border: 3px solid black;
	top: 9px;
	border-radius: 50%;
	z-index: 1;
	margin-right: -31px;
}

.event-title {
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}

/***** CONTACT SECTION *****/

#contact {
	height: unset;
	background-color: #1a1a1a;
}

#contact h2 {
	color: white;
}

#contact-form {
	width: 90%;
	padding: 5vh 5%;
	border-radius: 5px;
	background-color: #e5e5e5;
}

#contact-form label {
	float: left;
	padding: 5px 0;
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
}

input, textarea {
	border: none;
	caret-color: var(--accent-color);
}

input {
	padding: 8px 2%;
	font-size: 24px;
	font-weight: 200;
}

.row {
	width: 100%;
	height: 40px;
	margin-bottom: 1vh;
}

.center {
	width: 300px;
	margin: auto;
}

#name-input, #email-input {
	float: right;
	width: 80%;
}

input[type=submit] {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #666666;
	background-color: var(--accent-color);
	font-weight: 500;
	white-space: normal;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.2s ease;
}

input[type=submit]:hover {
	transform: scale(1.1);
	background-color: #a6ddc6;
	border-color: #1a1a1a
}

textarea {
	width: 96%;
	margin-bottom: 3vh;
	padding: 2vh 2%;
	font-size: 18px;
	resize: vertical;
}

#icon-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
	text-align: center;
}

:focus {
	outline: none;
}

input[id$=input]:focus {
	border-bottom: 2px solid var(--accent-color);
}

textarea:focus {
	border: 2px solid var(--accent-color);
	width: calc(96% - 4px);
}

@media screen and (max-width: 800px) {
	#name-input, #email-input {
		width: 70%;
	}
}

@media screen and (max-width: 500px) {
	.row {
		height: 80px;
	}

	.center {
		width: 96%;
	}

	#name-input, #email-input {
		width: 96%;
	}
}