html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

#menu {
	position: absolute;
	display: flex;
	right: 0;
	margin: 2vh 2vw;
}

.menu-text {
	font-size: x-large;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	color: #a0a0a0;
	cursor: pointer;
	margin: 0vh 2vw;
	padding: 3vh 0vw;
	transition: color 0.2s ease;
}

.menu-text:hover {
	color: white;
}

.menu-text:after {
	content: '';
	border-bottom: 2px solid #caebdd;
	width: 0;
	display: block;
	transition: width 0.2s ease;
}

.menu-text:hover:after {
	width: 100%;
}

a:link {
	text-decoration: none;
}

.section {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
}

#main {
	text-align: center;
	background-color: #1a1a1a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#icons {
	margin-top: 5vh;
	display: flex;
}

.icon {
	background-color: white;
	padding: 2vh 1vw;
	margin: 10px;
	width: 50px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.icon:hover {
	transform: scale(1.1);
	background-color: #caebdd;
}

i {
	font-size: 40px;
	color: #1a1a1a;
}

#scroll-down {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-bottom: 3vh;
}

#scroll-down div {
	display: flex;
	flex-direction: column;
}

i[id^=chevron] {
	color: #caebdd;
	position: relative;
	transition: 0.3s all ease-in;
}

#chevron-3 {
	opacity: 0;
	transform: translateY(18px) scale(0.5);
}

#chevron-2 {
	opacity: 0.5;
}

#chevron-1 {
	transform: translateY(-18px);
}

#scroll-down:hover #chevron-3 {
	transform: translateY(48px) scale(1);
	opacity: 0.5;
}

#scroll-down:hover #chevron-2 {
	transform: translateY(30px);
	opacity: 0;
}

#scroll-down:hover #chevron-1 {
	transform: translateY(-8px);
}

/*#about-section {
	background-color: red;
}

#projects-section {
	background-color: green;
}

#cv-section {
	background-color: yellow;
}*/

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	margin: 0;
	color: white;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 50px;
}

h1::selection {
	background-color: #caebdd;
	color: #1a1a1a;
}

h2::selection {
	background-color: #caebdd;
}

h6::selection {
	background-color: #caebdd;
}