#projects-container {
  position: absolute;
  width: calc(100% - 10vw - 190px);
  left: calc(5vw + 95px);
}

.project {
  height: calc(27vw + 124px);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--accent-colour);
  position: absolute;
  left: 50%;

  -webkit-transition: background-color, transform 0.25s ease;
  -ms-transition: background-color, transform 0.25s ease;
  -moz-transition: background-color, transform 0.25s ease;
  -o-transition: background-color, transform 0.25s ease;
  transition: background-color, transform 0.25s ease;
}

.proj-img-container {
  height: 27vw;
  width: 50vw;
  display: flex;
  align-items: center;
}

.proj-img {
  display: block;
  max-height: 27vw;
  max-width: 50vw;
  margin: 0 auto 20px auto;
  border-radius: 2px;
}

.project.main:hover {
  transition: transform 0.2s;
  transform: translateX(-50%) scale(1.05) !important;
  cursor: pointer;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.project h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/** Project modal (display full details about a project) **/
#projects-modal {
  position: fixed;
  left: 10vw;
  top: 10vh;
  width: calc(80vw - 100px);
  height: calc(80vh - 60px);
  z-index: 6;
  overflow-y: scroll;

  background: white;
  border: 10px solid var(--accent-colour);
  border-radius: 20px;
  padding: 20px 40px;
}

#projects-background {
  background: #a0a0a0e0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.modal-close {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 7;
}

.modal-close i {
  color: var(--accent-colour);
  transition: color 0.2s ease;
  z-index: 7;
}

.modal-close i:hover {
  color: #9ceac9;
}

.proj-title {
  margin-bottom: 0.5em;
}

.proj-subtitle {
  margin-top: 0;
}

ul.proj-tags {
  list-style: none;
  padding: 0;
}

.proj-tags li {
  display: inline-block;
  font-size: small;
  padding: 5px 10px;
  background: #1a1a1a;
  color: var(--accent-colour);
  border-radius: 5px;
  margin: 2px;
}

.proj-tags li:first-child {
  margin-left: 0;
}

/** Next and prev chevron animations **/
#scroll-next,
#scroll-prev {
  position: absolute;
  padding: 20vh 10px;
  z-index: 3;
}
#scroll-next {
  right: 4vw;
}
#scroll-prev {
  left: 4vw;
}

#chevron-right-3,
#chevron-left-1 {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

#chevron-right-3,
#chevron-left-3 {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  transform: translateX(8px);
}

#chevron-right-1,
#chevron-left-1 {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  transform: translateX(-8px);
}

#chevron-right-2,
#chevron-left-2 {
  opacity: 0.5;
}

#chevron-right-1,
#chevron-left-3 {
  opacity: 1;
}

#scroll-next:hover #chevron-right-3 {
  -webkit-transform: translateX(50px) scale(1);
  -ms-transform: translateX(50px) scale(1);
  -moz-transform: translateX(50px) scale(1);
  -o-transform: translateX(50px) scale(1);
  transform: translateX(50px) scale(1);
  opacity: 0.5;
}

#scroll-next:hover #chevron-right-2 {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
  transform: translateX(30px);
  opacity: 0;
}

#scroll-next:hover #chevron-right-1 {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  transform: translateX(8px);
}

#scroll-prev:hover #chevron-left-1 {
  -webkit-transform: translateX(-50px) scale(1);
  -ms-transform: translateX(-50px) scale(1);
  -moz-transform: translateX(-50px) scale(1);
  -o-transform: translateX(-50px) scale(1);
  transform: translateX(-50px) scale(1);
  opacity: 0.5;
}

#scroll-prev:hover #chevron-left-2 {
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
}

#scroll-prev:hover #chevron-left-3 {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  transform: translateX(-8px);
}

@media screen and (max-width: 660px) {
  .prev2,
  .next2 {
    opacity: 0 !important;
  }

  #scroll-next {
    right: 1vw;
  }

  #scroll-prev {
    left: 1vw;
  }
}
